/* Remove basic default styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* General styles and styling of todo's */
body {
  background-image: linear-gradient(
    120deg,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  color: #744359;
  font-family: "Montserrat", sans-serif;
  min-height: 100vh;
}

header {
  font-size: 1.5rem;
}

header,
form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form input,
form button {
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  background-color: white;
}

form button {
  color: #744359;
  cursor: pointer;
  transition: all 0.3s ease;
}

form button:hover {
  background-color: #744359;
  color: white;
}

.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  min-width: 30%;
  list-style: none;
}

.todo {
  margin: 0.5rem;
  background-color: white;
  color: black;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.5s ease;
}

.todo li {
  flex: 1;
}

.delete-btn,
.completed-btn {
  background-color: #912f5b;
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
}

.completed-btn {
  background-color: rgb(122, 194, 122);
}

.todo-item {
  padding: 0rem 0.5rem;
}

.fa-trash,
.fa-check {
  pointer-events: none;
}

.completedItem {
  text-decoration: line-through;
  opacity: 0.5;
}

/* Styling select element and options */
select {
  /* Remove default styles */
  appearance: none;
  outline: none;
  border: none;

  /* Add new styles */
  color: #744359;
  width: 10rem;
  cursor: pointer;
  padding: 1.2rem;
}

.select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
}

.select::after {
  content: "\25BC";
  position: absolute;
  background-color: #744359;
  color: white;
  top: 0;
  right: 0;
  padding: 1.2rem;
  pointer-events: none;
  transition: all 0.3s ease;
}

.select:hover::after {
  background-color: white;
  color: #744359;
}

#todo-deadline {
  padding: 0.5rem;
  margin-right: 1rem;
}

li {
  font-weight: bold;
}

span {
  color: #744359;
  margin-left: 1rem;
  font-size: 0.9rem;
  padding: 0.2rem;
}
